.body{
    margin: 0px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: row;
    background-color: black;
    color: white;
    margin: 2px;
}
.navimg{
    height: 80px;
}
.navright{
    display: flex;
    align-items: row;
    padding: 20px;
}
.aele{
    padding-top: 5px;
    margin: 5px;
}
.hometop{
    display: flex;
    padding-left: 550px;
    color: white;
    background-color: black;
    margin: 2px;
}
.home{
    display: flex;
    align-items: row;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
    border: 2px silod green;
    color: white;
    background-color: black;
    margin: 2px;
    padding-left: 100px;
}
.homeleft{
    width: 50vw;
    text-align: right;
    padding-top: 100px;
}
.homeright{
    width: 50vw;
    padding-left: 100px;
    padding-top: 30px;
}
.homeimg{
    height: 300px;
    padding-top: 10px;
}
.menu{
    display: flex;
    flex-direction: row;
    height: 70vh;
    align-items: row;
    background-color: black;
    color: white;
    padding: 10px;

}
.amenu{
    padding: 100px;
    border: 5px solid white;
    margin: 5px;
    text-align: center;
}
.bf{
    text-align: center;
    background-color: black;
    color: white;
    height: 135vh;
    align-items: row;
}
.lunch{
    text-align: center;
    background-color: black;
    color: white;
    height: 135vh;
    align-items: row;
}
.dinner{
    text-align: center;
    background-color: black;
    color: white;
    height: 135vh;
    align-items: row;
}
.lunchimg{
    height: 100px;
    border: 5px solid white;
}
.dinnerimg{
    height: 100px;
    border: 5px solid white;
}
.bfimg{
    height: 100px;
    border: 5px solid white;
}
.about{
    text-align: center;
    background-color: black;
    color: white;
    height: 130vh;
}
.aboutimg{
    height: 100px;
    border: 5px solid white;
}
.aele:hover{
    color: white;
}
.menuele:hover{
    color: white;
}
.aboutele{
    color: green;
}